

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Start of angularjs -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/common.css">


    <script type="text/javascript" src="js/imgConfig.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-PapaParse.min.js"></script>
    <script src="js/moment.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/robotutils.js"></script>
    <script type="text/javascript" src="js/robotutils_2.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

	 <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">

    <!--End of angularjs -->

</head>

<body style="margin:0px;background-image: url('img/main.png')">
    <div class="bg-img-icon"> </div>
    <!--<img class="bg-img-icon" style="margin:0px;background-image: url('img/test.jpg')">-->
    <!--<img class="bg-img-icon">-->
    <div id="DocReady">
        <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
            <div class="white-text facility-header">
                非繁忙時間:星期一至五晚上六時前<br>
                繁忙時間:星期一至五晚上六點或之後、星期六、日及公眾假期全日
            </div>

            <div class="{{'virtual-btn '+pagePos}}">
                <button ng-repeat="x in numberList"
                        ng-class="goDownClass( $index + 1)"
                        ng-style="getBtnImg('down-single' ,$index + 1)"
                        ng-click="showText($index,'true')">
                </button>
            </div>
            <div ng-show="isImgShowed">
                <img class="simple-pop-up-img" ng-src="{{simplePopUpImg}}" >    
            </div>
			<button ng-click="closeApp()"  class="close-btn"><i class="fa fa-close" ></i></button>
            <!-- <div id="open" class="text-center white-text text-footer">123123意見反映(點擊或語音觸發錄音)意見反映(點擊或語音觸發錄音){{content}}
            </div> -->
            <div class="text-space">
                <div class="text-container white-text">{{content}}
                <!--<div class="text-container white-text">asdasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd-->
                </div>
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="app/js/index.js"></script>
</html>
