<html>
<head>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="app/js/action.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Start of angularjs -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  	<link rel="stylesheet" type="text/css" href="app/css/common.css"></link>
	  <script src="img/imgConfig.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-PapaParse.min.js"></script>
    <script src="js/moment.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/robotutils.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!--End of angularjs -->

</head>

<body style="margin:0px">
    <div id="DocReady">
      <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
        <img ng-show="isTouchDisable" src="img/main/transparent.png" class="touch-disable">
         <!--<button style="position: absolute; z-index: 3; left:100px" ng-click="goToSpecPopUp('p2')"> show </button>
        <button style="position: absolute; z-index: 3; left:200px" ng-click="popUpQnA('p1')"> Q n A </button>
        <button class="cooldown" style="position: absolute; z-index: 10; left:300px" ng-click="cancelSpecPopUp()">close</button> -->
        <!-- <div  class="mic-layer"> -->
          <img ng-show="isReocrding" class="mic-recording" src="img/recording.gif" alt="Recording..">
        <!-- </div> -->
        <div class="pop-up-layer">
          <div class="{{'virtual-btn '+pagePos}}">
            <modal visible="showModal">
                <img class="pop-up-img" ng-src="{{popUpImgSrc}}" />
            </modal>
            <fsmodal visible="showFSModal">
                <img class="full-screen-pop-up-img" src="{{popUpImgSrc}}" />
				<button type="button" class="fs-close-btn" ng-click="cancelSpecPopUp()"></button>
                <div class="layer-question">

                    <div ng-class="appLayout" ng-show="isDisplay">

                    <div class="appOption opt{{ $index + 1 }}" ng-style="getBGImage($index+1)" ng-switch="$index +1" ng-repeat="option in optionList" ng-click="selectOption(option)">

                        <div class="box-text text-setting-1" ng-switch-when="1" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                          <!-- A -->
                        </div>
                        <div class="box-text text-setting-1" ng-switch-when="2" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                          <!-- B -->
                        </div>
                        <div class="box-text text-setting-1" ng-switch-when="3" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                          <!-- C -->
                        </div>
                        <div class="box-text text-setting-1" ng-switch-when="4" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                          <!-- D -->
                        </div>
                        <div class="box-text text-setting-2" unselectable="on" onselectstart="return false;" onmousedown="return false;"> <span class="vertical-align-text">{{option}}</span>
                        </div>
                    </div>
                  </div>
                </div>
            </fsmodal>
            <fsmodal visible="showQnAModal">
                <img class="full-screen-pop-up-img" src="{{popUpImgSrc}}" />
            </fsmodal>
          </div>
        </div>
        <!-- <div class="debug-option-btn">
            <button style="position: absolute; z-index: 3; left:100px" ng-click="opt_show()"> show </button>
            <button style="position: absolute; z-index: 3; left:200px" ng-click="opt_hide()"> hide </button>
            <button style="position: absolute; z-index: 3; left:300px" ng-click="opt_update(['Y','N'])"> update2 </button>
            <button style="position: absolute; z-index: 3; left:400px" ng-click="opt_update(['a','b','c'])"> update3 </button>
            <button style="position: absolute; z-index: 3; left:500px" ng-click="opt_update(['t1','t2','t3','t4'])"> update4 </button>
        </div> -->
        <div class="{{'virtual-btn '+pagePos +' '+ pageGroup}}">
			<!--Start of Adding specific position -->
			<button class="go-spec-1" ng-click="goToSpecPos('b1b1b3b1')">go spec-1</button>
			<button class="go-spec-2" ng-click="goToSpecPos('p2')">go spec-2</button>
			<button class="go-spec-3" ng-click="goToSpecPos('p2')">go spec-3</button>
			<button class="go-spec-4" ng-click="goToSpecPos('p2')">go spec-4</button>
			<button class="go-spec-5" ng-click="goToSpecPos('p2')">go spec-5</button>
			<!-- you can add your specific button here -->
			<!--End of Adding specific position -->
            <button ng-click="toggleModal('Success')" class="go-pop-up">pop up btn</button>
            <button ng-click="toggleFSModal('fs btn')"  class="go-fs-pop-up">fs pop btn</button>
            <button class= "go-home" ng-style="getBtnImg('home')" ng-click="goHome()"> go home </button>
            <button class="go-up" ng-style="getBtnImg('up')" ng-click="goToPos('up')"> go up </button>
            <button class="go-one-to-many-up" ng-click="goToPos('one-to-many-up')"> go otm up </button>
            <button class="go-down" ng-style="getBtnImg('down')" ng-click="goToPos('down')"> go down </button>
            <button class="go-left" ng-click="goToPos('left')"> go left </button>
            <button class="go-right"  ng-click="goToPos('right')"> go right </button>
            <button class="go-slide-up"
            ng-style="getBtnImg('slideUp')"  ng-click="goToPos('slide-up')"> go right </button>
            <button class="go-slide-left"
            ng-style="getBtnImg('slideLeft')"  ng-click="goToSlideShow('slide-left')"> slide left </button>
            <button class="go-slide-right"
            ng-style="getBtnImg('slideRight')"  ng-click="goToSlideShow('slide-right')"> slide right </button>
            <button ng-repeat ="x in numberList"
            ng-class="goDownClass( $index + 1)" ng-style="getBtnImg('down-single' ,$index + 1)" ng-click="goToPos('down', $index + 1)"> go down {{$index + 1}} </button>
            <button ng-repeat ="x in numberList"
            ng-class="goTriggerClass( $index + 1)" ng-style="getBtnImg('trigger-event' ,$index + 1)" ng-click="goTrigger( $index + 1)"> go trigger{{$index + 1}} </button>
            <button ng-repeat ="x in numberList"
            ng-class="goOneToManyDownClass( $index + 1)"  ng-click="goToPos('one-to-many-down', $index + 1)"> go otm down {{$index + 1}} </button>

            <button ng-repeat ="x in numberList"
            ng-class="goToSlideClass( $index + 1)"  ng-click="goToSlideShow('go-slide', $index + 1)"> go slide {{$index + 1}} </button>

            <button ng-repeat ="x in numberList"
            ng-class="goSiblingClass( $index + 1)"  ng-click="goToPos('sibling', $index + 1)"> go down </button>
            <button ng-click="goToPos('sibling')"> go to the first </button>
        </div>
        <div class="bg-layer">
            <img class="bg-img" ng-src="{{imgSrc}}" />
        </div>
       <!--h1>App layout: {{appLayout}}</h1-->


    </div>
</body>

<script type="text/javascript">
	var isDocReady = false;
  var isOptionOnCD = false;
    var isOptionReady = true;
    var app = angular.module("myApp", []);
    var N = 10;
    var numberList = Array.apply(null, {length: N}).map(Number.call, Number);
	// session.subscribeToEvent("teks/tp_ct_c_newworldproperty/CallFunction", function(data) {
	// 	console.log(data);
	// })
    $('button').click(function(){
      var btn = $(this);
      btn.prop('disabled', true);
      setTimeout(function(){
        btn.prop('disabled', false);
      },500);
      });
    app.controller("myCtrl", function($scope) {
        $scope.isReocrding = true;
        $scope.isTouchDisable = false;
        $scope.pageGroup = '';
        $scope.mapImgSrc = function (img){
          var imgSrc = "img/main/" + BGImg[img] ;
          console.log(imgSrc);
          return imgSrc
        }
        $scope.mapBtnImg = function (img){
          var imgSrc = "img/main/" + btnImg[img] ;
          console.log(imgSrc);
          return imgSrc
        }
        $scope.mapSlideImg =  function (dir, number){
          var slideImg = "img/main/" + slideDir[dir] +"/"+ number + ".jpg" ;
          console.log(slideImg);
          return slideImg
        }
        $scope.getBGImage = function(key){
          var myObj;
          if(key == 1){
            myObj = {
                "background-image": "url('img/menu_option1.png')"
            }
          } else if(key ==2) {
            myObj = {
                "background-image": "url('img/menu_option2.png')"
            }
          }
          return myObj
        }
        $scope.getBtnImg = function(type, digit){
          var curPos = $scope.pagePos;
          var btnImgPos;

          type = typeof type !== 'undefined' ? type : 'down';
          digit = typeof digit !== 'undefined' ? digit : '1';
          btnImgPos = type;
          if(type == "down-single"){
             btnImgPos = curPos +"d" + digit;
          }

          var btnImgSrc = $scope.mapBtnImg(btnImgPos);
          // console.log(btnImgSrc);
          var myObj = {
                "background-image": "url('"+ btnImgSrc + "')"
            }
          return myObj
        }
        $scope.showModal = false;
        $scope.toggleModal = function(){
            $scope.goPopUp();
            $scope.showModal = !$scope.showModal;
        };
        $scope.showFSModal = false;
        $scope.fSButtonClicked = "";
        $scope.toggleFSModal = function(btnClicked){
            $scope.fSButtonClicked = btnClicked;
            $scope.showFSModal = !$scope.showFSModal;
        };
        $scope.isDisplay = false;
        $scope.appLayout = "option-bullet-3";
        // $scope.appLayout = "option-2x2-grid";
        $scope.pagePos = "b1b1";
        $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
        $scope.isGif = false;
        $scope.gif_flow = 11;
        $scope.optionList = ["係", "唔係"];
        $scope.numberList = numberList;
        $scope.popUpImgSrc= $scope.mapImgSrc($scope.pagePos+ "p1");

        $scope.webStartRecord = function() {
          $scope.$apply(function(){
            $scope.isReocrding = true;
          })
        }

        $scope.webStopRecord = function() {
          $scope.$apply(function(){
            $scope.isReocrding = false;
          })
        }

        $scope.webDisableTouch = function() {
          $scope.$apply(function(){
            $scope.isTouchDisable = true;
          })
        }

        $scope.webEnableTouch = function() {
          $scope.$apply(function(){
            $scope.isTouchDisable = false;
          })
        }

        $scope.goDownClass = function(index){
          return "go-down-" + index;
        }

        $scope.goTriggerClass = function(index){
          return "go-trigger-" + index;
        }

        $scope.goOneToManyDownClass = function(index){
          return "go-one-to-many-down-" + index;
        }
        $scope.goToSlideClass = function(index){
          return "go-slide-" + index;
        }

        $scope.goSiblingClass = function(index){
          return "go-sibling-" + index;
        }

        $scope.goHome = function() {
            var curPos = $scope.pagePos;
            $scope.pagePos = "b1";
            $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
             console.log(curPos+"goto" + "b1");
        }

        $scope.goToSpecPos = function(position) {
          var curPos = $scope.pagePos;
          $scope.pagePos = position;
          $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
          $scope.loadPageImage(position);
        }

        $scope.goPopUp = function(digit){
          digit = typeof digit !== 'undefined' ? digit : '1';
          var curPos = $scope.pagePos;
          var popUpImgPos = curPos +"p" + digit;
          $scope.popUpImgSrc = $scope.mapImgSrc(popUpImgPos);
          console.log("pop" + popUpImgPos);
        }

        $scope.goToSpecPopUp = function(specImgPos, fullscreen){
          var curPos = $scope.pagePos;
          specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
          fullscreen = typeof fullscreen !== 'undefined' ? fullscreen : 'false';
          $scope.popUpImgSrc = $scope.mapImgSrc(specImgPos);

          if(fullscreen == "false"){
            $scope.showModal = true;
          } else if(fullscreen =="true") {
            $scope.showFSModal = true;
          }

          console.log("popping"+ specImgPos);
          $scope.$apply();

        }

        $scope.cancelSpecPopUp = function(){
          var curPos = $scope.pagePos;
          $scope.showModal = false;
          $scope.showFSModal = false;
          $scope.isDisplay = false;
          isOptionReady = true;
          $scope.$apply();
          session.raiseEvent("teks/tp_ct_c_newworldproperty/html", "popCancel" + curPos);
          console.log("popCancel");
        }

        $scope.popUpQnA = function(specImgPos){
          specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
          $scope.popUpImgSrc = $scope.mapImgSrc(specImgPos);
          $scope.showFSModal = true;
          $scope.isDisplay = true;
          $scope.$apply();
        }

        $scope.goTrigger= function(index){
          index = typeof index !== 'undefined' ? index : 1;
          console.log("trigger index",index);
          var text = "";
          switch(index) {
            case 1:
                text = "流動應用程式a1";
                break;
            case 2:
                text = "流動應用程式a2";
                break;
            case 3:
                text = "流動應用程式a3";
                break;
            case 4:
                text = "流動應用程式a4";
                break;
            case 5:
                text = "流動應用程式a5";
                break;
            case 6:
                text = "流動應用程式a6";
                break;
            break;
          }
          console.log("text",text);
          session.raiseEvent("teks/tp_ct_c_newworldproperty/html", text);
          $scope.$apply();
        }

        $scope.goToPos = function(direction, position) {
          direction = typeof direction !== 'undefined' ? direction : "down";
          position = typeof position !== 'undefined' ? position : '1';
          var digit;
          var newPos;
          var curPos = $scope.pagePos;
          direction = direction.toLowerCase();
          switch(direction){
            case "up":
              var n = curPos.lastIndexOf("b");
              var imgbranch = curPos.substring(0, n);
              newPos = imgbranch;
              break;

            case "one-to-many-up":
              var n;
              var x;
              var imgbranch;
                  n = curPos.lastIndexOf("b");
                  imgbranch = curPos.substring(0, n);
                  x = imgbranch.lastIndexOf("b");
                  imgbranch = imgbranch.substring(0, x);
              newPos = imgbranch;
              break;

            case "down":
              newPos = curPos + "b" + position;
              break;

            case "one-to-many-down":
              newPos = curPos + "b" + position + "b1";
              break;

            case "left":
                var n = curPos.lastIndexOf("b");
                var imgbranch = curPos.substring(0, n);
                digit = parseInt(curPos.substring(n + 1,curPos.length )) - 1;
                if(digit <= 0 )
                return;
                newPos = imgbranch +"b" + digit;
                break;

            case "right":
              var n = curPos.lastIndexOf("b");
              var imgbranch = curPos.substring(0, n);
              digit = parseInt(curPos.substring(n + 1,curPos.length )) + 1;
              newPos = imgbranch +"b" + digit;
              break;

            case "slide-up":
              var n = curPos.lastIndexOf("sl");
              var imgbranch = curPos.substring(0,n);
              newPos = imgbranch;
              break;

            case "sibling":
              var n = curPos.lastIndexOf("b");
              var imgbranch = curPos.substring(0, n);
              digit = position;
              newPos = imgbranch +"b" + digit;
              break;
          }
          $scope.loadPageImage(newPos, curPos);
        }

        $scope.loadPageImage = function(newPos, curPos) {
                  newPos = typeof newPos !== 'undefined' ? newPos : 'b1';
                  curPos = typeof curPos !== 'undefined' ? curPos : '';
                  var imgLoader = new Image();

                  imgLoader.onload = function(){
                    $scope.$apply(function(){
                      $scope.pagePos = newPos;
                      $scope.imgSrc = $scope.mapImgSrc(newPos);
                      $scope.pageGroup = $scope.getPageGroup(newPos);
                      //session.raiseEvent("teks/tp_ct_c_newworldproperty/SayArbText", curPos+"goto" + newPos);
                      session.raiseEvent("teks/tp_ct_c_newworldproperty/html_touch", curPos+"goto" + newPos);
                      console.log(curPos+"goto" + newPos);
                    });
                  };
                  imgLoader.onerror =  function(){
                  };
                  imgLoader.src = $scope.mapImgSrc(newPos);
                }

        $scope.goToSlideShow = function( direction, position ){
          direction = typeof direction !== 'undefined' ? direction: 'go-slide';
          position = typeof position !== 'undefined' ? position: '1';
          var newPos;
          var digit;
          var curPos = $scope.pagePos;
          direction = direction.toLowerCase();
          switch(direction){
            case "go-slide":
              newPos = curPos + "sl" + position +"s1";
              break;
            case "slide-left":
                var n = curPos.lastIndexOf("s");
                var imgbranch = curPos.substring(0, n);
                digit = parseInt(curPos.substring(n + 1,curPos.length )) - 1;
                if(digit <= 0 )
                return;
                newPos = imgbranch +"s" + digit;
                break;

            case "slide-right":
              var n = curPos.lastIndexOf("s");
              var imgbranch = curPos.substring(0, n);
              digit = parseInt(curPos.substring(n + 1,curPos.length )) + 1;
              newPos = imgbranch +"s" + digit;
              break;
            // case "slide-back":
            //     var n = curPos.lastIndexOf("sl");
            //     var imgbranch = curPos.substring(0, n);
            //     newPos = imgbranch;
            //     break;
          }
          $scope.loadSlideImage(newPos, curPos);
        }
        $scope.loadSlideImage = function(newPos, curPos) {
          newPos = typeof newPos !== 'undefined' ? newPos : 's1';
          curPos = typeof curPos !== 'undefined' ? curPos : '';
          var imgLoader = new Image();

          var m = newPos.lastIndexOf("s");
          var slideDir = newPos.substring(0, m);
          var digit = newPos.substring(m+1, m + 2);
          console.log(slideDir);
          console.log(digit);
          imgLoader.onload = function(){
            $scope.$apply(function(){
              $scope.pagePos = newPos;
              $scope.imgSrc = $scope.mapSlideImg(slideDir,digit);
              $scope.pageGroup = $scope.getPageGroup(newPos);
              //session.raiseEvent("teks/tp_ct_c_newworldproperty/SayArbText", curPos+"goto" + newPos);
              session.raiseEvent("teks/tp_ct_c_newworldproperty/html_touch", curPos+"goto" + newPos);
              console.log(curPos+"goto" + newPos);
            });
          };
          imgLoader.onerror =  function(){
          };
          imgLoader.src = $scope.mapSlideImg(slideDir,digit);
        }
        $scope.getPageGroup = function(newPos){
          var pageGroup = '';
          if (newPos.indexOf("sl") !== -1){
            pageGroup = "slide-mode";
          }
          return pageGroup
        }
        //options layout
        $scope.opt_show = function() {
          $scope.$apply(function(){
            $scope.isDisplay = true;
          })
            isOptionReady=true;
        }

        $scope.opt_hide = function() {
          $scope.$apply(function(){
            $scope.isDisplay = false;
          })
          isOptionReady=true;
        }

        $scope.opt_update = function(optionList) {
            if (optionList) {
                switch (optionList.length) {
                    case 2:
                        $scope.appLayout = "option-bullet-2";
                        console.log("switched to bullet-2 layout");
                        break;
                    case 3:
                        $scope.appLayout = "option-bullet-3";
                        console.log("switched to bullet-3 layout");
                        break;
                    case 4:
                        $scope.appLayout = "option-2x2-grid";
                        console.log("switched to 2x2-grid layout");
                        break;
                }
                $scope.optionList = optionList;
            }
        }

        $scope.selectOption = function(selectedOption) {
          // console.log(selectedOption);
          // session.raiseEvent("teks/tp_ct_c_newworldproperty/SayArbText", selectedOption);
          if(!isOptionOnCD){
            // console.log("isOptionOnCD");
            if(isOptionReady){
                isOptionReady=false;
                console.log(selectedOption);
                //session.raiseEvent("teks/tp_ct_c_newworldproperty/SayArbText", selectedOption);
                session.raiseEvent("teks/tp_ct_c_newworldproperty/html", selectedOption);
            }
            isOptionOnCD = true;
            setTimeout(function () {
               isOptionOnCD = false;
             }, 1000);
          }

        }

    		$scope.test =function(param1){
    		    console.log(param1);
    		}
    		$scope.test1 =function(param1){

        }
    		$scope.webPopOptions =function(option){
          //eng
          var splitedOption = option.split(",");
          console.log(splitedOption);
          $scope.opt_update(splitedOption);
          $scope.opt_show();
          $scope.popUpQnA('p1');
        }

    		session.subscribeToEvent("teks/tp_ct_c_newworldproperty/CallFunction", function(data) {
    		    console.log("testing");
      			if(data){
      				var splitedData = data.split("|");
      				var func = splitedData[0];

      				if(splitedData.length == 1){
      					eval("$scope." + func + "()");
      				}
              else if(splitedData.length == 2){
        				var param1 = splitedData[1];
                eval("$scope." + func + "(" + param1 + ")");
              } else if(splitedData.length == 3){
      					var param2 = splitedData[2];
      					eval("$scope." + func + "(" + param1 + ", " + param2+ ")");
      				}
      			}
    		})

        session.subscribeToEvent("teks/tp_ct_c_newworldproperty/ShowQuestionContent", function(data) {
            $scope.opt_hide();
            $scope.$apply(function() {
                $scope.isGif = false;
            });
        });
    });

    $(document).ready(function() {
	     isDocReady = true;
        session.raiseEvent("teks/tp_ct_c_newworldproperty/Test1", "1");
        setTimeout(function() {
            document.getElementById("DocReady").style.visibility = "visible";
        }, 100);
    });
    app.directive('modal', function () {
      return {
        template: '<div class="modal fade">' +
            '<div class="modal-dialog pop-up-dialog">' +
              '<button type="button" class="pop-up-btn" data-dismiss="modal" aria-hidden="true">clsoe</button>'+
                '<div class="pop-up-img-body" ng-transclude></div>' +
            '</div>' +
          '</div>',
        restrict: 'E',
        transclude: true,
        replace:true,
        scope:true,
        link: function postLink(scope, element, attrs) {
            scope.$watch(attrs.visible, function(value){
            if(value == true)
              $(element).modal('show');
            else
              $(element).modal('hide');
          });

          $(element).on('shown.bs.modal', function(){
            scope.$apply(function(){
              scope.$parent[attrs.visible] = true;
            });
          });

          $(element).on('hidden.bs.modal', function(){
            scope.$apply(function(){
              scope.$parent[attrs.visible] = false;
            });
          });
        }
      };
    });
    app.directive('fsmodal', function () {
      return {
        template: '<div class="modal fade">' +
            '<div class="modal-dialog full-screen-pop-up-dialog">' +
                '<div class="full-screen-pop-up-img-body" ng-transclude></div>' +
            '</div>' +
          '</div>',
        restrict: 'E',
        transclude: true,
        replace:true,
        scope:true,
        link: function postLink(scope, element, attrs) {
            scope.$watch(attrs.visible, function(value){
            if(value == true)
              $(element).modal('show');
            else
              $(element).modal('hide');
          });

          $(element).on('shown.bs.modal', function(){
            scope.$apply(function(){
              scope.$parent[attrs.visible] = true;
            });
          });

          $(element).on('hidden.bs.modal', function(){
            scope.$apply(function(){
              scope.$parent[attrs.visible] = false;
            });
          });
        }
      };
    });
</script>

</html>
