<html>
<head>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="app/js/action.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Start of angularjs -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/slider.min.css">
	<link rel="stylesheet" type="text/css" href="app/css/common.css"></link>
	<script src="img/imgConfig.js"></script>
	<script src="js/slider.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-PapaParse.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/angular-swiper.js"></script>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/robotutils.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

	 <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <!--End of angularjs -->

</head>

<body style="margin:0px">
    <div id="DocReady">
      <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
        <img ng-show="isTouchDisable" src="img/main/transparent.png" class="touch-disable">
        <button ng-click="closeApp()" class="close-btn"><i class="fa fa-close"></i></button>
         <!-- <button style="position: absolute; z-index: 3; left:100px" ng-click="goToSpecPopUp('p2')"> show </button>
        <button style="position: absolute; z-index: 3; left:200px" ng-click="popUpQnA('p1')"> Q n A </button>
        <button class="cooldown" style="position: absolute; z-index: 10; left:300px" ng-click="cancelSpecPopUp()">close</button> -->
        <!-- <div  class="mic-layer"> -->
          <!--<img ng-show="isReocrding" class="mic-recording" src="img/recording.gif" alt="Recording..">-->
        <!-- </div> -->

	    <div class="myslides bg-img img-click">
            <ks-swiper-container loop=true  swiper="swiper" class="swiper-gallery" on-ready="onReadySwiper(swiper)">
                <!-- <ks-swiper-slide ng-repeat="s in itemsFromCSV"> -->
                  <ks-swiper-slide ng-repeat="s in itemsFromCSV">
                      <img class="bg-img" ng-src="{{getImgSrc(s.name)}}"  ng-mouseup="triggerMouseUp()"
                      ng-mousemove="triggerMouseMove()"
                       ng-mousedown="triggerMouseDown()">
                  </ks-swiper-slide>
					  <div class="bg-layer">
						<!--img class="bg-img" ng-src="1.jpg" /-->
						<!--img class="bg-img" ng-src="{{getImgSrc($index+1)}}" /-->
					</div>
                </ks-swiper-slide>
            </ks-swiper-container>
		<!-- <img class="tran-img bg-img" style="display:none; position: absolute; z-index: 3;  ng-show="showTranImg" ng-src="{{tranImgSrc}}"> -->
        </div>


        <!-- <div class="debug-option-btn">
            <button style="position: absolute; z-index: 3; left:100px" ng-click="opt_show()"> show </button>
            <button style="position: absolute; z-index: 3; left:200px" ng-click="opt_hide()"> hide </button>
            <button style="position: absolute; z-index: 3; left:300px" ng-click="opt_update(['Y','N'])"> update2 </button>
            <button style="position: absolute; z-index: 3; left:400px" ng-click="opt_update(['a','b','c'])"> update3 </button>
            <button style="position: absolute; z-index: 3; left:500px" ng-click="opt_update(['t1','t2','t3','t4'])"> update4 </button>
        </div> -->


        <div class="{{'virtual-btn '+pagePos}}">
		<!-- you can add your specific button here -->
			<!--End of Adding specific position -->
			<button class= "go-home" ng-click="goHome()"> go home </button>

        </div>
        <!--div class="bg-layer">
            <img class="bg-img" ng-src="{{imgSrc}}" />
        </div-->


    </div>
</body>

<script type="text/javascript">
	var isDocReady = false;
	var isOptionOnCD = false;
    var isOptionReady = true;
    var app = angular.module("myApp", ['ksSwiper']);
	//-----------------
	//slider variables
	var round = 1;
	var moveCount=0;
	var mouseDown = false;
	var lastPageIndex = 0;
	var curPageIndex = 1;
	var pageChange;
	var imgDir;
	//-----------------
    var N = 10;
    var numberList = Array.apply(null, {length: N}).map(Number.call, Number);

    $('button').click(function(){
		var btn = $(this);
		btn.prop('disabled', true);
		setTimeout(function(){
			btn.prop('disabled', false);
		},500);
	});
    Array.prototype.clean = function(deleteValue) {
      for (var i = 0; i < this.length; i++) {
        if (this[i] == deleteValue) {         
          this.splice(i, 1);
          i--;
        }
      }
      return this;
    };
    app.controller("myCtrl", function($scope, $http) {
        $scope.isReocrding = true;
        $scope.isTouchDisable = false;
        $scope.isDisplay = false;
        $scope.pagePos = "b1";
        $scope.imgSrc = "img/main/b1.jpg";
        $scope.numberList = numberList;
        $scope.swiper = {};

        $scope.webStartRecord = function() {
          $scope.$apply(function(){
            $scope.isReocrding = true;
          })
        }

        $scope.webStopRecord = function() {
          $scope.$apply(function(){
            $scope.isReocrding = false;
          })
        }

        $scope.webDisableTouch = function() {
          $scope.$apply(function(){
            $scope.isTouchDisable = true;
          })
        }

        $scope.webEnableTouch = function() {
          $scope.$apply(function(){
            $scope.isTouchDisable = false;
          })
        }

		$scope.getImgSrc = function(curFile){
            var imgSrc = "img/slideshow/"+ curFile +".jpg";
            return imgSrc;
        }

		$scope.readDir = function(absDir){
			//absDir =absolute directory
			var config = absDir + "directory.txt";
			var directory = "";
			$http.get(config).success(function(response) {
				console.log("mydirectory" ,response);
				directory = response.replace(/"/g, '').trim();
				imgDir = directory;
				console.warn("imgDIr", imgDir);
			});
		}
		$scope.readDir("");
		

		$scope.closeApp = function(){
			session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/closesubapps");
			console.log("close sub app");
			$scope.$apply();
		}

		$scope.readConfigFile = function(absDir){
			//absDir =absolute directory
			var config = absDir + "config.csv";
			var itemsFromCSV = [];
			var csvItem = "";
			$http.get(config).success(function(response) {
				console.log(response);
				var itemLine = response.split(/\r\n/);
				console.log("raw: ", itemLine);
				itemLine.shift();
                itemLine = itemLine.clean("");
				console.log("cleaned: ", itemLine);
				for (i = 0; i < itemLine.length; i++) {
					var itemAttrs = itemLine[i].split(/,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/);
					itemsFromCSV.push({
						name:itemAttrs[0].replace(/"/g, '').trim(),
						toFolder: itemAttrs[1].replace(/"/g, '').trim(),
						round1: itemAttrs[2].replace(/"/g, '').trim(),
						round2:itemAttrs[3].replace(/"/g, '').trim(),
						round3: itemAttrs[4].replace(/"/g, '').trim(),
						clickSay: itemAttrs[5].replace(/"/g, '').trim()
					});
				}
				if( itemsFromCSV.length > 0 ){
					$scope.itemsFromCSV = itemsFromCSV;
				}
				});
			console.log($scope.itemsFromCSV);
		}

		$scope.readConfigFile("img/slideshow/");
		
		$scope.triggerMouseDown = function(){
			mouseDown = true;
        }
        $scope.triggerMouseMove = function(moveCount){
			if(mouseDown == true){
				moveCount++;
			}
        }

        $scope.triggerMouseUp = function(){
		
        }

        $scope.triggerMouseClick = function(index){
			if(moveCount < 5){
				$scope.userClick(index);
			}
			mouseDown = false;
			moveCount = 0;
        }
        $scope.userClick = function(index){
			console.log("warn user clicked",index);
			console.log($scope.itemsFromCSV[index]["clickSay"]);
			session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/ttssay",$scope.itemsFromCSV[index]["clickSay"]);
        }
		
		
      	$scope.slideChangedCall = function(swiper){
			curPageIndex = swiper.realIndex;
			pageChange = curPageIndex - lastPageIndex;
			console.log("page change", pageChange);
            var length = $scope.itemsFromCSV.length - 1;
			if(pageChange !== 0){
				lastPageIndex = curPageIndex;
			}
			if(pageChange == 1){
				$scope.goToPos("right",swiper.realIndex);
			} 
            else if(pageChange == length * -1 ){
				$scope.goToPos("right",swiper.realIndex);
			}
            else if(pageChange == length ){
				$scope.goToPos("left",swiper.realIndex);
			}
			else if(pageChange == -1){
				$scope.goToPos("left", swiper.realIndex);
			}
            
      	}
		
		
		$scope.roundPlay = function(direction){
			//direction should be left or right;
			var index = $scope.swiper.realIndex;
			var length = $scope.itemsFromCSV.length;
            console.log("cur index", index);
            if(index == length -1 && direction =="left" ){
				round--;
            }
            if (round >= 4) {
              round = 1;
            }
            else if( round < 1) {
                round = 3;
            }

            var roundSay = "";
            var myItemsFromCSV = $scope.itemsFromCSV;
            if(myItemsFromCSV ==[] || myItemsFromCSV =="undefined" ){
              return;
            }
            if( round == 1 ){
                roundSay = "round1";
				console.log("round1 ",index);
                console.warn("round1", index, myItemsFromCSV[index][roundSay])
                session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/ttssay",myItemsFromCSV[index][roundSay]);
            }
            else if ( round ==2){
                roundSay = "round2"
                console.warn("round2", index, myItemsFromCSV[index][roundSay]);
				session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/ttssay",myItemsFromCSV[index][roundSay]);
            }
            else if ( round ==3){
                roundSay = "round3"
                console.log("round3", index);
				console.warn("round3", index, myItemsFromCSV[index][roundSay]);
                session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/ttssay",myItemsFromCSV[index][roundSay]);
            }
                        
            console.log("length", length);
			console.log("direction", direction);
            if(index == length -1  && direction =="right" ){
                console.log("hit right");
				round++;
            }
        }
		
		$scope.goToPos = function(direction,toFolder, position ) {
			direction = typeof direction !== 'undefined' ? direction : "right";
			toFolder = typeof toFolder !== 'undefined' ? toFolder : "right";
			position = typeof position !== 'undefined' ? position : '1';
			var digit;
			var newPos;
			var curPos = $scope.pagePos;
			direction = direction.toLowerCase();
			switch(direction){

            case "left":
                console.log("warn left");
				$scope.roundPlay("left");
                break;

            case "right":
				console.log("warn right");
				$scope.roundPlay("right");
              break;
			}
		}

		$(document).ready(function() {
			isDocReady = true;
			session.raiseEvent("teks/tp_ct_a_newworldproperty_promotion/Test1", "1");
			setTimeout(function() {
				document.getElementById("DocReady").style.visibility = "visible";
			}, 100);
			$scope.autoPageSlideTimer = setInterval(function(){
				$scope.swiper.slideNext();
			}, 600000);
		});
		
		$('.img-click').on('click', 'img', function(){
			console.log("click me");
			var index = $scope.swiper.realIndex;
			$scope.triggerMouseClick(index);
		});

		session.subscribeToEvent("teks/tp_ct_a_newworldproperty_promotion/CallFunction", function(data) {
			console.log("testing");
			if(data){
				var splitedData = data.split("|");
				var func = splitedData[0];

				if(splitedData.length == 1){
					eval("$scope." + func + "()");
				}
		  else if(splitedData.length == 2){
					var param1 = splitedData[1];
			eval("$scope." + func + "(" + param1 + ")");
		  } else if(splitedData.length == 3){
					var param2 = splitedData[2];
					eval("$scope." + func + "(" + param1 + ", " + param2+ ")");
				}
			}
		})
    });
</script>

</html>
