.virtual-btn button {
  opacity: 0;
  /* set opacity to 0 for hide all the virtual btn */
  /* set color to transparent to hide the font */
  color: black;
  /*  color: transparent;   */
  width: 100px;
  height: 100px;
  border-radius: 5%; }

.virtual-btn.b1 .go-down-1 {
  display: block;
  left: 30px;
  top: 80px; }

.virtual-btn.b1 .go-down-2 {
  display: block;
  left: 188px;
  top: 80px; }

.virtual-btn.b1 .go-down-3 {
  display: block;
  left: 346px;
  top: 80px; }

.virtual-btn.b1 .go-down-4 {
  display: block;
  left: 504px;
  top: 80px; }

.virtual-btn.b1 .go-down-5 {
  display: block;
  left: 662px;
  top: 80px; }

.virtual-btn.b1 .go-down-6 {
  display: block;
  left: 820px;
  top: 80px; }

.virtual-btn.b1 .go-down-7 {
  display: block;
  left: 30px;
  top: 222px; }

.virtual-btn.b1 .go-down-8 {
  display: block;
  left: 188px;
  top: 222px; }

.virtual-btn.b1 .go-down-9 {
  display: block;
  left: 346px;
  top: 222px; }

.virtual-btn.b1 .go-down-10 {
  display: block;
  left: 504px;
  top: 222px; }

.virtual-btn.b1 .go-down-11 {
  display: block;
  left: 662px;
  top: 222px; }

.virtual-btn.b1 .go-down-12 {
  display: block;
  left: 30px;
  top: 364px; }

.virtual-btn.b1 .go-down-13 {
  display: block;
  left: 188px;
  top: 364px; }

.virtual-btn.b1 .go-down-14 {
  display: block;
  left: 346px;
  top: 364px; }

.virtual-btn.b1 .go-down-15 {
  display: block;
  left: 504px;
  top: 364px; }

/*# sourceMappingURL=btnconfig.css.map */
