@import "btnconfig.css";

@font-face {
    font-family: FuturaMd;
    src: url(FutuMd.ttf);
}

@font-face {
    font-family: MSblack;
    src: url(MSblack.ttf);
}

.simple-pop-up-img{
    position: absolute;
    top: 0px ;
    left: 0px ;
    height:100%;
    width:100%;
    z-index:10;
}


.facility-header{
  position:absolute;
  /* display: table; */
  font-size: 18px;
  width: 100%;
  height: 140px; /* for demo only */
  top:7px;
  left:70px;
}
.white-text {
  font-weight: bold;
  /* position: absolute; */
  color:white;
  /* margin-top:5px; */
  padding:0px;
  /* border:2px solid black; */
}
.text-header {
    position:absolute;
    /* display: table; */
    width: 100%;
    height: 140px; /* for demo only */
    top:10px;
}
.text-space {
    position:absolute;
    font-size:20px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 140px; /* for demo only */
    top:85%;
}

.text-container {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
   overflow-wrap: break-word;

}

.feedback-recording-header {
  font-weight: bold;
  position: absolute;
  color:white;
  font-size:40px;
  left:37%;
  margin:0px;
  padding:0px;
  z-index: 11;
  /* border:2px solid black; */
}

.close-btn {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 16px;
    margin: 4px 4px;
	border-radius: 50%;
    left: 900px;
    top: 10px;
    height:50px;
    width:50px;
    z-index:110;
  /* background-image:url('../../img/slideup.png'); */
}
.close-btn:active{
	border-radius:50%;
	background-color:#f0f0f0;
}
.close-btn  > i {
	color:black;
	font-size:40px;

}


.virtual-btn button {
  display: none;
  position: absolute; z-index: 3;
  overflow:hidden;
  border:none;
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

html {
  height: 601px;
  width: 962px !important;
}

body {
  overflow: hidden;
  height: 601px;
  width: 962px !important;
}

#DocReady{
  visibility: hidden;
}
/* pop up image */

.touch-disable{
  position: absolute;
  z-index: 99;
}

.layer-question{
  position: absolute;
  z-index:15;
}
.bg-layer{
  position: absolute;
  z-index:1;
}

.pop-up-img,
.pop-up-dialog,
.pop-up-img-body{
  /* margin-top:0px;
  margin-left:0px; */
  width:750px;
  height:515px;
}
.full-screen-pop-up-img,
.full-screen-pop-up-dialog,
.full-screen-pop-up-img-body{
  margin-top:0px;
  margin-bottom:0px;
  width:962px;
  height:601px;
  position:absolute;
  z-index: 1;
}

.modal-open .modal{
  position: absolute;
  z-index: 7;
}
.modal-backdrop.fade.in{
  position: absolute;
  z-index: 5;
}


.mic-recording{
  position: absolute;
  z-index: 10;
  top:522px;
  left:457px;
  width:48px;
  height:48px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.appOption {
    height: 160px;
    width: 400px;
    background-color: "red";
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-layer .fs-close-btn{
  position:absolute;
  z-index: 15;
  display: block;
  opacity:1;
  background-image: url('../../img/FSCloseBtn.png');
  background-color:white;
  background-repeat: no-repeat;
  background-size:cover;
}

.font-color {
    color="red";
    /* font-color: #103563; */
}

.bg-img-icon {
    position: absolute; 
    z-index: 1;
    background-image: url("../img/facility.png");
    /*background-image: url("../img/test.jpg");*/
    height:100%;
    width:100%;
    /*background-position: 25% 75%;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-img {
    /* position: absolute; */
    z-index: 1;
    /* top: 0;
    left: 0; */
    width: 962;
    height: 601px;
    /* width: 100%; */
    background-repeat: no-repeat;
}

.bgb {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Start of bullet -2 option layout */

.option-bullet-2 {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-bullet-2>div {
    z-index: 3;
    /* width: 480px; */
    position: absolute;
    left: 262px;
    top: 50px;
    /* text-align: center; */
}

.option-bullet-2 .opt1 {
    top: 125px;
}

.option-bullet-2 .opt2 {
    top: 362px;
}

/* End of bullet option 2 layout */

/* Start of bullet -3 option layout */

.option-bullet-3 {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-bullet-3>div {
    z-index: 3;
    /* width: 480px; */
    position: absolute;
    left: 262px;
    top: 40px;
    /* text-align: center; */
}

.option-bullet-3 .opt2 {
    top: 240px;
}

.option-bullet-3 .opt3 {
    top: 440px;
}

/* End of bullet option 3 layout */

/*Start of 2x2 layout */

.option-2x2-grid {
    z-index: 3;
    position: absolute;
}

.option-2x2-grid>div {
    z-index: 3;
    /* width: 480px; */
    position: absolute;
    /* text-align: center; */
}

.option-2x2-grid .opt1 {
    left: 15px;
    top: 125px;
}

.option-2x2-grid .opt2 {
    top: 125px;
    left: 490px;
}

.option-2x2-grid .opt3 {
    left: 15px;
    top: 362px;
}

.option-2x2-grid .opt4 {
    top: 362px;
    left: 490px;

}

/*End of 2x2 layout */

.box-text {
    z-index: 3;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    z-index: 2;
    resize: none;
    background: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    /* Firefox 12+ */
    text-align-last: center;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.text-setting-1 {
    position: absolute;
    color: #0b2b77;
    font-size: 50px;
    font-family: "FuturaMd";
    top: 22%;
    left: 45px;
    font-weight: bold;
}
.vertical-align-text{
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	word-wrap: break-word;
	word-wrap: normal;
	word-break: break-all;
}
.text-setting-2 {
    position: relative;
    left: 60px;
    top: -5px;
    width: 280px;
    /* color: #0b2b77; */
    color:black;
	/* height:140px; */
	/* line-height:140px; */
	font-size: 35px;
    font-family: "MSblack";
    /* text-align: center; */

    /* background: rgba(12, 12, 123, 0.5); */
}

.box-text:hover {
    cursor: default;
}

.box-text:focus {
    outline: none;
}

.align-char-0 {
	top:45px;
}


.align-char-8 {
	top: 25px;
}

.align-char-16 {
	top: 0px;
}

.open_hour {
    display:block;
    left: 50px;
    top: 200px;
    height: 200px;
    width: 200px;
}
